.btnFlag{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50px;
    border: 2px solid midnightblue;
    border-radius: 3px;
}

.btnInput{
    padding: 9px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #333333;
    border-radius: 3px;
    background-color: #333333;
    color: #FFF;
}

.btnRegister{
    width: 9%;
    font-weight: bold;
    color: #FFF;
    background-color: #333333;
    border: 2px solid #333333;
    padding: 10px;
    border-radius: 2px;
}
