/* BTN-HEADER */
.btnBurger{
    display: none;
}

.btnFlag{
    display: flex;
    align-items: center;
    width: 50px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
    background: #FFF;
    cursor: pointer;
    padding: 5px;
}

/* BTN-CONVERTER */
.btnInput{
    padding: 10px 14px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 3px;
}


/* BTN-FOOTER */
.btnLight{
    width: max-content;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 35px;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){

}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){

}
