.inputStyle{
    padding: 10px 14px;
    width: 170px;
    margin-right: 20px;
    font-size: 15px;
    border: 2px solid #E0E0E0;
    border-radius: 2px;
}

.listInput{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 15px;
    margin-top: 5px;
}

.listInput li{
    list-style: square;
    color: #A7A7AE;
    font-size: 14px;
}
