header{
    padding: 10px 30px;
    margin-bottom: 30px;
}
nav{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "EB Garamond", serif;
    font-size: 30px;
    margin-right: 20px;
}

.divRoute{

}

.listFlex{
    display: flex;
    align-items: center;
}

.divFlexLi{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.liSize{
    font-size: 20px;
}

.trait{
    margin: 0 12px;
    font-size: 26px;
}

.divScrolling{

}

.flag{
    width: 22px;
    margin-right: 4px;
}

.arrowHead{
    width: 12px;
}

.listScrolling{
    display: none;
}
