.parentGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 10px;
}

.firstChildGrid{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondChildGrid{
    grid-area: 2 / 1 / 3 / 2;
}

.divSecondGrid{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divFlexSecond{
    display: flex;
}

.titleHome{
    font-family: "EB Garamond", serif;
    font-size: 70px;
}

.divInputNumber{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subTitleHome{
}

.contentFlex{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 310px;
}

.normalNumber{
    font-size: 50px;
}

.border{
    height: 30px;
    border-left: 2px solid #CCC;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
}

.widthYear{
    width: 655px;
}

.romanNumber{
    font-size: 100px;
    font-family: "EB Garamond", serif;
    position: relative;
    bottom: 34px;
    padding: 0 20px;
}
