.parentGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 10px;
    height: 800px;
}

.firstChildGrid{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondChildGrid{
    grid-area: 2 / 1 / 3 / 2;
}

.divSecondGrid{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divFlexSecond{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.titleHome{
    font-family: "EB Garamond", serif;
    font-size: 70px;
}

.divInputNumber{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.subTitleHome{
    font-size: 20px;
    margin-bottom: 20px;
}

.divConverter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
}

.normalNumber{
    font-size: 50px;
    margin-bottom: 20px;
}

.widthYear{
    width: 655px;
}

.romanNumber{
    height: 30px;
    font-size: 100px;
    font-family: "EB Garamond", serif;
    padding: 0 20px;
    border-left: 2px solid #CCC;
    border-top: 2px solid #CCC;
    border-right: 2px solid #CCC;
}

/* RESPONSIVE */

/* MOBILE */
@media screen and (min-width: 320px) and (max-width: 767px){
    .titleHome{
        font-size: 60px;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px){

}
